
body {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	max-width:30em;
	margin-left:6em;
}

h1 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 44px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	max-width:60em;
	line-height: 60.4px;
}

h2 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	max-width:50em;
	line-height: 26.4px;
}


.mainimage {
	float: left;
}
p {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 18.4px;
	max-width: 15em;
	font-size: 10px;
}