h1 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 55px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 60.4px;
}
h2 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 26.4px;
}
h3 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h4 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h5 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h6 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	max-width:50em;
	margin-left:6em;
}
p {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	max-width:50em;
	margin-left:6em;
}